* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app {
    position: relative;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    height: 185px;
    padding: 0 60px;
    background-color: dodgerblue;
}

.loginOrRegister {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    padding: 15px;
}

.loginOrRegister div {
    width: 100%;
    margin: 10px 0;
}

.loginOrRegister div input {
    display: block;
    width: 100%;
    padding: 5px 0;
    border-radius: 7px;
    border: 2px solid black;
    margin: 5px 0;

}

.btn {
    width: 80px;
    padding: 5px 0;
    font-weight: 600;
    border-radius: 7px;
    border: 2px solid black;
    cursor: pointer;
}
.btn:hover {
    background-color: darkblue;
    color: white;
}
.btn:active {
    background-color: lightblue;
    color: black;
}

.loginBtn {
    margin-right: auto;
}

.registerBtn {
    margin-left: auto;
}

.mainOutPut {
    width: 50%;
    height: calc(100vh - 185px);
    overflow: scroll;
}

.favoritesList {
    width: 50%;
    height: calc(100vh - 350px);
    overflow: scroll;
    position: absolute;
    top: 185px;
    right: 0;
}

.singleFetchEl {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: lightblue;
    border: 2px solid black;
}

.popUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
}

.popUpInner {
    margin: 15% auto;
    background-color: dodgerblue;
    border: 2px solid black;
    border-radius: 20px;
    padding: 30px;
    width: 400px;
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.popUpTxt {
    font-weight: 600;
    font-size: 20px;
}


