@import "../../node_modules/antd/dist/antd.less";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app {
    position: relative;
}

.app .header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    height: 185px;
    padding: 0 60px;
    /*background-color: dodgerblue;*/
}

.app .header h1 {
    color: white;
}

.loginOrRegister {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    padding: 15px;
}

.loginOrRegister div {
    width: 100%;
    margin: 10px 0;
}

.loginOrRegister div input {
    display: block;
    width: 100%;
    padding: 5px 0;
    border-radius: 7px;
    border: 2px solid black;
    margin: 5px 0;

}

.app .btn{
    min-width: 80px;
    /*padding: 5px 0;*/
    /*font-weight: 600;*/
    border-radius: 7px;
    /*border: 2px solid black;*/
    /*cursor: pointer;*/
}
/*.btn:hover {*/
/*    background-color: darkblue;*/
/*    color: white;*/
/*}*/
/*.btn:active {*/
/*    background-color: lightblue;*/
/*    color: black;*/
/*}*/

.loginBtn {
    margin-right: auto;
}

.registerBtn {
    margin-left: auto;
}

.mainOutPut {
    position: relative;
    width: 50%;
    height: calc(100vh - 185px);
    overflow: scroll;
}

.mainOutPut .spin {
    position: absolute;
    transform: scale(2.5) translateX(-50%);
    top: 200px;
    left: 50%;
}

.favoritesList {
    width: 50%;
    height: calc(100vh - 350px);
    overflow: scroll;
    position: absolute;
    top: 185px;
    right: 0;
}

.singleFetchEl {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #b3ffcc;
    border: 2px solid black;
}
.singleFetchEl .paragraph {
    margin: auto 0;
}

.singleFetchEl .paragraph i strong{
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-between;
}

.popUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
}

.popUpInner {
    margin: 15% auto;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding: 30px;
    width: 400px;
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.popUpTxt {
    font-weight: 600;
    font-size: 20px;
}


